@media (max-width: 1199px) {
    body {
        padding-top: 51px;
    }
    #btn3{
        margin-top: 16px;
    }
    #about{
        margin-top: 50px;
    }
    .sec1{
        margin-top: 300px;
    }
    #aboutus{
        margin-top: -68px;
        margin-bottom: 0;
    }
    .jumbotron{
        margin-top: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header-top-agile .s-12 {
        display: none;
    }

    #about .aboutdet{
    padding-top:20px;
    padding-right: 10px;
}
    .contact{
        width: 95%;
        height: 95%;
    }
    textarea {
        width:370px;

    }
    #aboutus{
        margin-top: -111px;
        margin-bottom: 0;
    }
    .jumbotron{
        margin-top: 30px;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .header-top-agile .s-12 {
        display: none;
    }

    textarea {
        width:260px;
    }
    #btn3{
        margin-top: 0px;
    }
    .sec1{
        margin-top: 250px;
    }
    #about .aboutdet{
        padding-top:20px;
        padding-right: 35px;
    }
    #about img{
        width: 90%;
    }
    #aboutus{
        margin-top: -158px;
        margin-bottom: 0;
    }
    .jumbotron{
        margin-top: 30px;
    }

}
@media (max-width: 767px) {
    .header-top-agile .s-12 {
        display: none;
    }

    textarea {
        width:100%;

    }
    .contact{
        padding-right: 30px;
    }
    #hospitalprof #registerform{
        margin-top: 0;
    }
    #phisicialprof #registerform2 {
        margin-top: 0;
    }

    #aboutus{
        margin-top: -158px;
        margin-bottom: 0;
    }
    .jumbotron{
        margin-top: 30px;
    }

}
